<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <link rel="Stylesheet" href="css/homePage.css">
    <title>PunkWinds</title>
</head>
<body>
    <header>
        <div id="imagensTopoSite">
            <img src="/img/favicon.png">
        </div>
        <h1>PunkWinds</h1>
    </header>
</body>
</html>