#flexCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#Column{
    width: 800px;
    border-radius: 5%;
    background-color: #750da2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    margin: 0;
    padding: 0;
}
h1{
    margin-bottom: 0;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;

}

h2{
    margin: 2px;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
}

#cadastroNovo {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#LogarConta{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;     
}

#userAtualizar{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

form div{
    margin-bottom: 20px;

}

form input{
    width: 300px;
    height: 30px;
    font-size: 24px;
}

#gradeImagens{

    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center; 
    align-items: center;
    gap: 15px; 
}

#gradeImagens img{
    width: 150px;
    height: 150px;


}

.pfps{
    width: 150px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

#IMPORTANTE{
    margin-bottom: 10px;
}

#friendimg{
    width: 500px;
    height: 500px;
}

.game-info{
    align-items: center;
}

.game-info img{
    width: 500px;
    height: 500px;
}

form button{
    background-color: green;
    color: white;
    text-decoration: none; 
    text-align: center;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Sedgwick Ave Display', cursive;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%; 
    max-width: 300px; 
    margin-top: 5px;
}

.btn-gerenciar{
    background-color: darkgreen;
    margin-top: 10px;
    color: white;
    text-decoration: none; 
    text-align: center;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Sedgwick Ave Display', cursive;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 20%;  
}

.btn-gerenciar-2{
    background-color: darkgreen;
    margin-top: 10px;
    color: white;
    text-decoration: none; 
    text-align: center;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Sedgwick Ave Display', cursive;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;  
}

a{
    text-decoration: none;
    color: white;
}