#flexCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#Column{
    width: 500px;
    border-radius: 5%;
    background-color: #750da2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    margin: 0;
    padding: 0;
}
h1{
    margin-bottom: 0;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;

}

h2{
    margin: 2px;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
}

#cadastroNovo {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

form div{
    margin-bottom: 20px;

}

form input{
    width: 300px;
    height: 30px;
    font-size: 24px;
}

#gradeImagens{

    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center; 
    align-items: center;
    gap: 15px; 
}

#gradeImagens img{
    width: 150px;
    height: 150px;


}

.pfps{
    width: 150px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
