
body {
    background-color: #4a0867;
    margin: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    color: white; 
    font-family: 'Sedgwick Ave Display', cursive;
}

h1, h2 {
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
    margin: 2px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px; 
}

p {
    margin: 5px 0;
    font-size: 24px;
}


#Content {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding: 20px;
    background-color: #750da2;
    width: fit-content;
    max-width: 90vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

img { 
    width: 600px;
    height: auto;
    margin-bottom: 15px;
    border: 2px solid green; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

form div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%; 
    max-width: 400px;
}

form label {
    margin-bottom: 5px;
    font-size: 18px;
}

form input {
    width: 100%; 
    height: 40px;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
}

form select {
    width: 100%; 
    height: 40px;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
}

#buyButton {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Sedgwick Ave Display', cursive;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
    max-width: 400px;
}

#buyButton:hover {
    background-color: darkgreen;
}


#botao {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Sedgwick Ave Display', cursive;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    max-width: 400px;
}

#botao:hover {
    background-color: darkgreen;
}

a{
    text-decoration: none;
    color: white;
}