@keyframes girar {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}

body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 120px 10fr 0.5fr;
    grid-template-areas:
        "h"
        "m"
        "f";
    background-color: #4a0867;
    }


header {
    background-color: #750da2;
    grid-area: h;
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: left;
}

#imagensTopoSite {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

}

#imagensTopoSite img {
    height: 80%;
    margin: 3px;
    width: auto;
    animation: girar 4s linear infinite;
}
header h1 {
    color: white;
    text-align: center;
    align-self: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 80px;
}

#TopoSiteDir{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
    margin-right: 10px;
}

#TopoSiteDir img{
    height: 50px;
    width: 50px;
    margin: 0;
}

#Content{
    margin-top: 20px;
    grid-area: m;
    display: flex;
    flex-direction: column;

}

#Usuario{
    height: 50px;
    width: auto;
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: center; 
    gap: 10px;
}

#Usuario p {
    margin: 0; 
    font-size: 24px;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;

}


#FirstImgSet{
    width: 100%;
    height: 400px;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 50px ;
}

.imgPrice{
    height: 400px;
    width: 520px;
    margin: 0;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in-out;
}

.imgPrice:hover{

scale: 1.02;

}

.imgPrice img{
    height: 380px;
    width: 520px;
    margin: 0;
}


.PriceName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.PriceName p{
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

h2{
    margin: 0;
    font-size: 30px;
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
    margin-left: 135px;
}

#SecondImageSet{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 520px);
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 25px;
    background-color: rgba(0, 0, 0, 0.2);

}
