body{
background-color: blueviolet;
margin: 0;
overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    height: 160px;
     height: 160px;
     background-color: #750da2;

}

header img{
    height: 160px;
    width: 160px;

}

#topo h1{
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 40px;
}

main{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#firstColumn {
    width: 20vw; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
    padding: 20px; 
}

#firstColumn a {
    background-color: #4a0867;
    color: white;
    text-decoration: none; 
    text-align: center;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Sedgwick Ave Display', cursive;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%; 
    max-width: 300px; 
}

#firstColumn a{
    text-decoration: none;
    text-align: center;
    font-size: 40px;
}

#secondColumn{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#thirdColumn{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.game{
    border: green solid 2px;
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 80%;

}

.game img{
    height: 90px;
    width: 180px;
}

.game h2{
    margin-top: 20px;
    height: auto;
    margin-bottom: 0;
    color: white;
    font-size: 24px;
}

.btn-gerenciar{
    background-color: darkgreen;
    margin-top: 10px;
    color: white;
    text-decoration: none; 
    text-align: center;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Sedgwick Ave Display', cursive;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 60%; 
    max-width: 300px; 
}
