body{
background-color: blueviolet;
margin: 0;
overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    height: 160px;
     height: 160px;
     background-color: #750da2;

}

header img{
    height: 160px;
    width: 160px;

}

#topo h1{
    color: white;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 40px;
}

main{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#firstColumn{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#secondColumn{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#thirdColumn{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}